*,::after,::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient();
    height: 100vh;
    width: 100%;
    background-color: aquamarine;
    
}
#container{
    text-align: center;
    border:5px solid black;

}
.righthand{
    animation-name: playingright;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-direction:alternate;
    transform: skewY(40deg);
    transition: all 0.5s ease;
    
}

.lefthand{
    animation-name: playing;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-direction:alternate;
    transform: skewY(25deg);
    transition: all 0.5s ease;
}

@keyframes playing {
    from{
        transform: skewY(-10deg) translateY(-30px);
        /* transform: translateX(-150px) */
    }
    to{
        /* transform: translateX(150px) */
        transform: skewY(10deg);
    }
   
}
@keyframes playingright {
    from{
        transform: skewY(-10deg) scaleX(-1) translateY(50px);
        /* transform: translateX(-150px) */
    }
    to{
        /* transform: translateX(150px) */
        transform: skewY(10deg) scaleX(-1) translateY(50px);
    }
   
}

.righthandskewY{
    transform:scaleY(-1)
}

.righthandskewX{
    transform: scaleX(-1);
}

#play-again{
    display: none;
    border:none;
    outline:none;
    font-weight: 700;
    margin:15px auto;
    font-size: 40px;

}